body, div, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
html {
    -webkit-text-size-adjust: 100%;
}
html, body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    background: #fff;
}
body {
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 130px;
}

#user {
    text-align: center;
    line-height: 1;
}
#user img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 100px auto 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
#user h1 {
    font-size: 26px;
    margin-top: 20px;
    color: #313131;
}
#user p {
    margin-top: 10px;
    color: #616161;
    font-size: 14px;
}
#user a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 16px 8px; 
    background-repeat: no-repeat;
    background-position: center;
}
.github {
    background-image: url(github.svg);
    background-size: 20px 20px;
}
.blog {
    background-image: url(link.svg);
    background-size: 19px 19px;
}
.email {
    background-image: url(email.svg);
    background-size: 24px 24px;
}

#next {
    cursor: pointer;
    outline: none;
    font-size: 30px;
    color: #fff;
    background: #414141;
    width: 60px;
    padding: 8px 0 10px;
    margin: 20px auto 0;
    line-height: 1;
    display: block;
    border-radius: 3px;
    border: none;
}

#posts {
    display: block;
    margin: 70px auto 0;
    max-width: 780px;
    padding: 0 20px;
}
.post {
    margin-top: 70px;
}
.post:after {
    display: block;
    width: 50%;
    content: '';
    height: 1px;
    background: #f1f1f1;
    margin: 70px auto;
}
.title {
    color: #121212;
    font-size: 26px;
    line-height: 1.7;
}
.time {
    font-size: 12px;
    color: #969696;
    display: block;
    margin-top: 4px;
}
.time span {
    letter-spacing: 1px;
    margin-left: 10px;
    color: #515151;
}
.labels {
    display: block;
    margin-top: 20px;
}
.labels mark {
    color: #fff;
    font-size: 14px;
    padding: 1px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 7px;
    cursor: pointer;
}
.content {
    margin-top: 20px;
    display: block;
}
.main.hidden {
    position: relative;
    height: 200px;
    overflow-y: hidden;
}
.main.hidden:after {
    content: '';
    display: block;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    height: 100px;
    position: absolute;
    top: 100px;
}
.content:before {
    content: '';
    display: block;
    width: 20px;
    margin: 30px 0 10px;
    height: 1px;
    background: #eee;
}
.comment {
    margin: 50px auto 0;
    width: 140px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 8px 0;
    border: 2px solid #c3c2c9;
    color: #686868;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    background: #fff;
    outline: none;
    line-height: 1;
}
.comment:hover {
    background: #f1f1f1;
}
.comment_list:before {
    display: block;
    width: 30%;
    content: '';
    height: 1px;
    background: #f1f1f1;
    margin: 30px auto;
}
.comment_list li {
    margin-top: 20px;
    position: relative;
    padding: 10px 0 10px 70px;
}
.comment_list li > a {
    position: absolute;
    left: 0;
    top: 10px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
}
.comment_list li > a img {
    display: block;
    width: 100%;
    height: auto;
}
.comment_list section {
    background: #fbfbfb;
    padding: 10px 10px 10px 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
.comment_list section:before {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #fbfbfb;
    border-left-color: #fbfbfb;
    left: -5px;
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.comment_list a {
    color: #333;
}
.comment_list header {
    font-size: 13px;
}
.comment_list header span {
    color: #767676;
    margin-left: 5px;
}
.comment_list header a {
    text-decoration: none;
    font-weight: bold;
}
.comment_list section p {
    font-size: 14px;
    margin-top: 10px;
    color: #515151;
    line-height: 1.5;
}
.comment_list code {
    background: #fff;
}

/* article content */
.content {
    font-size: 14px;
    line-height: 2;
    color: #5a5a5a;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: normal;
    margin: 10px 0 0;
}
.content h6 {
    font-size: 16px;
}
.content h5 {
    font-size: 18px;
}
.content h4 {
    font-size: 20px;
}
.content h3 {
    font-size: 22px;
}
.content h2 {
    font-size: 24px;
}
.content h1 {
    font-size: 26px;
}
.content blockquote {
    margin: 14px;
    padding-left: 30px;
    border-left: 3px solid #999;
}
.content a {
    color: #333;
    text-decoration: underline;
}
.content hr {
    height: 3px;
    width: 100%;
    margin: 20px auto;
    background: #eee;
    border: none;
}
.content ul, .content ol {
    margin: 10px 0;
    padding-left: 20px;
}
.content ul li {
    list-style: disc;
}
.content ol li {
    list-style: decimal;
}
.content img {
    margin-top: 14px;
    margin-bottom: 14px;
    display: block;
    max-width: 100%;
    height: auto;
}
code {
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    padding: 1px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  padding: 14px;
  color: #333;
  overflow-x: auto;
  line-height: 1.4;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
