@import "../../node_modules/github-markdown-css/github-markdown.css";
@import "./reset";
@import "./error";
@import "./transition";
@import "./user";
@import "./button";
@import "./posts";
@import "./post";
@import "./footer";

.page > div {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 20px;
}
.home {
  &:before {
    border-top: 3px solid #3f4d56;
    content: '';
    width: 96%;
    position: absolute;
    top: 0;
    left: 2%;
  }
}
