.transition .page {
  min-height: 100%;
  position: absolute;
  width: 100%;
  /* top: 0; */
  /* backface-visibility: hidden; */
  /* transform: translate3d(0, 0, 0); */
  /* transform-style: preserve-3d; */
  overflow: hidden;
}
.page {
  background: #fff;
  position: relative;
}
.page-current {
  z-index: 1;
}
.page-movefrom {
  animation: movefrom .3s ease-in-out both;
}
.page-moveto {
  height: 100%;
  overflow: hidden;
  animation: moveto .4s ease-in both;
}

@keyframes movefrom {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
}
@keyframes moveto {
  to {
    transform: translate3d(0, -100%, 0);
  }
}
