@import "./reset.scss";
@import "../node_modules/github-markdown-css/github-markdown.css";
@keyframes spin { to { transform: translateY(-136px); } }

body:before {
    border-top: 3px solid #3f4d56;
    content: '';
    width: 96%;
    display: block;
    margin: 0 auto;
}
.container {
    position: relative;
    width: 100%;
}
.left,
.right {
    width: 100%;
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
    position: absolute;
    top: 0;
    background: #fff;
}
.right > a {
    position: absolute;
    right: 50%;
    margin-right: 340px;
    top: 72px;
    width: 30px;
    height: 30px;
    &:hover path {
        fill: #5c646b;
    }
    path {
        fill: #949fa9;
    }
}
.single .left {
    transform: translateX(-100%)
}
.list .right {
    transform: translateX(-100%)
}
.container.post {
    .right {
        transform: translateX(0);
    }
}
.container.single {
    .left {
        transform: translateX(0);
    }
    .right {
        transform: translateX(-100%);
    }
}
#user {
    text-align: center;
    line-height: 1;
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    &:after {
        display: block;
        margin: 10px auto 0;
        width: 50%;
        content: '';
        height: 1px;
        background: #f1f1f1;
    }
    img {
        padding: 4px;
        border: 1px solid #eaeaea;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 70px auto 0;
        border-radius: 50%;
    }
    h1 {
        font-size: 26px;
        margin-top: 20px;
        color: #42505a;
        font-weight: 600;
    }
    p {
        color: #5E656B;
        font-size: 16px;
        line-height: 1.4;
        margin: 14px 20px 0;
    }
    a {
        display: inline-block;
        margin: 20px 8px; 
        &:hover path {
            fill: #363a42;
        }
    }
    svg {
        display: block;
        width: 22px!important;
        height: 22px!important;
    }
    path {
        fill: #565b65;
    }
}
#posts {
    display: block;
    margin: 50px auto 0;
    max-width: 640px;
    padding: 0 20px;
    a {
        position: relative;
        padding: 20px 10px;
        display: block;
        &:hover {
            background: #F6F7F7;
        }
        div {
            position: absolute;
            right: 10px;
            top: 23px;
        }
        em {
            margin: 0 3px;
            font-size: 13px;
            font-style: normal;
            color: #565b65;
            border: 1px solid #e1e1e1;
            background: #e8e8e8;
            border-radius: 3px;
            padding: 1px 3px 2px;
        }
    }
    h1 {
        color: #485763;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p {
        font-size: 14px;
        color: #969696;
        margin-top: 10px;
    }
    span {
        letter-spacing: .5px;
        margin-left: 10px;
        color: #788590;
    }
}
#post {
    display: block;
    margin: 70px auto 0;
    max-width: 640px;
    padding: 0 20px 100px;
    & > h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.4;
        color: #3d4348;
    }
    & > p {
        font-size: 14px;
        color: #788590;
        margin-top: 10px;
        span {
            margin-left: 10px;
            color: #565f67;
        }
    }
    .labels {
        margin-top: 20px;
        a {
            color: #fff;
            font-size: 13px;
            padding: 3px 8px 4px;
            border-radius: 3px;
            display: inline-block;
            margin-right: 10px;
        }
    }
    & > .markdown-body {
        margin-top: 40px;
        font-size: 14px;
    }
    .highlight {
        font-size: 15px;
    }
    .button {
        width: 140px;
        margin: 50px auto 0;
        display: block;
    }
}
#footer {
    text-align: center;
    font-size: 14px;
    margin-top: 100px;
    color: #5c6e7b;
    padding-bottom: 70px;
    a {
        color: #37444E;
        text-decoration: underline;
    }
}
.btns {
    margin-top: 50px;
    text-align: center;
}
.button {
    margin: 0 5px;
    width: 130px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 2px solid #c3c2c9;
    color: #686868;
    border-radius: 5px;
    font-size: 14px;
    height: 32px;
    background: #fff;
    overflow: hidden;
    position: relative;
    &:hover {
        background: #f1f1f1;
    }
    &:disabled {
        text-indent: -9999px;
    }
    &:disabled:after {
        content: "\A·\A· ·\A· · ·";
        animation: spin 1.5s steps(4) infinite;
        white-space: pre;
        text-align: center;
        color: #686868;
        line-height: 34px;
        text-indent: 0;
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 136px;
    }
}
a.button {
    line-height: 30px;
    height: 30px;
}
.comment_list {
    &:before {
        display: block;
        width: 30%;
        content: '';
        height: 1px;
        background: #f1f1f1;
        margin: 50px auto;
    }
    & > li {
        list-style: none;
        margin-top: 20px;
        position: relative;
        padding: 10px 0 10px 70px;
    }
    .author {
        border: 1px solid #eee;
        position: absolute;
        left: 0;
        top: 10px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .body {
        background: #f8f8f8;
        padding: 14px 14px 14px 18px;
        border-radius: 3px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            border: 5px solid transparent;
            border-top-color: #f8f8f8;
            border-left-color: #f8f8f8;
            left: -5px;
            top: 20px;
            transform: rotate(-45deg);
        }
        & > a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }
        & > span {
            font-size: 14px;
            color: #767676;
        }
        .markdown-body {
            margin-top: 10px;
            font-size: 14px;
        }
        .highlight {
            font-size: 15px;
            pre {
                background: #fff;
            }
        }
    }
}
.box, .sandbox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, .97);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sandbox {
    bottom: auto;
    display: none;
}
#sandbox {
    display: none;
}
.sandbox.active {
    display: flex;
}
.markdown-body {
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, PingFang SC, Microsoft YaHei, sans-serif;
}
#form {
    position: relative;
    text-align: center;
    width: 300px;
    input[type=text], input[type=number] {
        display: inline-block;
        border: 2px solid #c3c2c9;
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 10px;
        width: 240px;
        font-size: 14px;
    }
    button {
        display: block;
        background: #3f4d56;
        border-color: #3f4d56;
        color: #fff;
        margin: 10px auto 0;
        &:hover {
            background: #56656f;
        }
        &:disabled:after {
            color: #fff;
        }
    }
    p {
        line-height: 1.6;
        color: #3f4d56;
        font-size: 16px;
        margin-bottom: 30px;
    }
}
#close {
    margin-bottom: 40px;
    font-size: 18px;
    right: 20px;
    top: 20px;
    cursor: pointer;
    position: absolute;
}
@media (max-width: 800px) {
    #posts {
        a {
            div {
                display: none;
            }
        }
        h1 {
            width: 100%;
        }
    }
    .right > a {
        top: 20px;
        left: 20px;
    }
    .comment_list {
        .author {
            width: 36px;
            height: 36px;
        }
        & > li {
            padding-left: 60px;
        }
        .body:before {
            top: 16px;
        }
    }
}
